<div class="body">
    <div class="login-body">
        <img width="75" height="75" src="../../assets/painel-de-controle.svg" alt="logo da aplicação">
        
        <form #login class="login-form">
            <div class="inputs">
                <a class="title">Username</a>
                <input class="w3-round input" id="teste" type="text" title="nome"/>
                <a class="title">Password</a>
                <input class="w3-round input" id="teste" type="password" title="nome"/>
            </div>
        </form>
        <hr class="line">
        <div class="other-logins">
        
        </div>
    </div>
</div>